* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666;
    background-size: cover;
}
section {
    width: 1400px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    color: #777;
}
.imgbx {
    position: relative;
    width: 50%;
    height: 100%;
}
.imgbx img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../imgs/pexels-miguel-á-padriñán-19670.jpg");
    position: relative;
}

.content .container {
    width: 400px;

}
.content h3 {
    font-size: 2em;
    position: relative;
    width: fit-content;
    margin-bottom: 50px;
}
.content h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 4px;
    background-color: #49a942;
}
.content .login-form {
    width: 100%;
}
.content .login-form .input-item {
    position: relative;

}
.content .login-form .input-item label {
    position: absolute;
    background-color: white;
    top: -17px;
    left: 30px;
    padding: 5px;
}
.content .login-form .input-item input {
    width: 100%;
    padding: 14px 30px;
    border: 2px solid #777;
    border-radius: 25px;
    outline: none;
    margin-bottom: 30px;
}
.content .login-form .input-item input[type="button"] {
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #49a942;
}
.content .remember-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: fit-content;
}
.content .remember-user input {
    width: 15px;
    height: 15px;
}
.content .signup {
    width: fit-content;
    margin: auto;
}
.content .signup a{ 
    color: #49a942;
}
.content .social {
    margin-top: 30px;
    width: fit-content;
    margin: 30px auto 0;
}
.content .social ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.content .social ul li {
    background-color: #999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}
.content .social ul li:hover {
    background-color: #49a942;
}

@media (max-width: 767px) {
    section {
        width: 100%;
        height: 100%;
        border-radius: 0;
        color: #fff;
    }
    .imgbx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .content {
        width: 100%;
        background: rgb(0 0 0 / .3);
        z-index: 100;
    }
    .container {
        width: 100%;
        margin: 20px;
    }
    .content .login-form .input-item label {
        background: transparent;
        top: -30px;
        left: 0;
    }
    .content .login-form .input-item input {
        background-color: transparent;
        border: 1px solid #fff;
    }
}